.feedback {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;

}

.feedback__container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.feedback_container-error {
    color: #ffa500;
}

.feedback__container textarea {
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
}

.feedback__container-fill {
    margin-bottom: 20px;
    color: #a3a3a3;
    font-size: 13px;
}

