

.game {
    margin-top: 30px;
    margin-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;
}

.game__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game__container-img {
    max-width: 300px;
}


.game__container-card {
    width: 400px;
    flex: 1;
}

.game__container-title {
    font-size: 30px;
    font-weight: bold;
}

.game__container-description {
    margin-top: 10px;
}

.game__container-price {
    margin-top: 40px;
    color: #959595;
    font-weight: bold;
    font-size: 50px;
}

.game__container-price::before {
    content: '$';
}

.game__container-add {
    margin-top: 30px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    width: 110px;
}

.game__container-add:hover {
    background: #333;
}